$almostWhite: hsl(0, 0%, 98%);
$almostGray: hsl(0, 0%, 41%);
$almostBlack: hsl(0, 0%, 8%);

$pageBg: $almostWhite;
$pageColor: $almostBlack;

$navMenuBg: $almostWhite;
$navMenuColor: $almostGray;

$buttonLinkBg: $almostBlack;
$buttonLinkColor: $almostWhite;
$buttonLinkBorder: $almostBlack;

$buttonLinkHoverBg: $almostWhite;
$buttonLinkHoverColor: $almostBlack;
$buttonLinkHoverBgBlack: $almostBlack;
$buttonLinkHoverColorBlack: $almostWhite;

$buttonLinkBorder: $almostBlack;

$mainText: $almostGray;

$textColor: $almostBlack;
