$almostWhite: hsl(0, 0%, 98%);
$almostGray: hsl(0, 0%, 41%);
$almostBlack: hsl(0, 0%, 8%);

$pageBg: $almostWhite;
$pageColor: $almostBlack;

$buttonLinkBg: $almostBlack;
$buttonLinkColor: $almostWhite;

$mainText: $almostGray;

$textColor: $almostBlack;
