@mixin reset($marPad: false) {
  @if $marPad {
    margin: 0;
    padding: 0;
  }
}

@mixin pos(
           $posVal: absolute,
           $topRight: false,
           $topVal: 0,
           $rightVal: 0
           ) {
  @if $topRight {
    position: $posVal;
    top: $topVal;
    right: $rightVal;
  }
}

@mixin flex(
            $center: false,
            $ai: false,
            $jc: false,
            $dir: false,
            $aiVal: center,
            $jcVal: center,
            $dirVal: column,
            ) {
  display: flex;
  @if $ai {
    align-items: $aiVal;
  }
  @if $jc {
    justify-content: $jcVal;
  }
  @if $center {
    justify-content: center;
    align-items: center;
  }
  @if $dir {
    flex-direction: $dirVal;
  }
}
