$alpha:   99999;
$beta:    77777;
$gamma:   55555;
$delta:   33333;
$epsilon: 22222;
$zeta:    11111;
$eta:      5555;
$theta:    1000;
$iota:      100;
$kappa:      10;
$lambda:      0;

$minusAlpha:   -99999;
$minusBeta:    -77777;
$minusGamma:   -55555;
$minusDelta:   -33333;
$minusEpsilon: -22222;
$minusZeta:    -11111;
$minusEta:      -5555;
$minusTheta:    -1000;
$minusIota:      -100;
$minusKappa:      -10;
$minusLambda:      -0;
