doctype html
html(lang="en")
  head
    title This is my page
    link(rel="stylesheet" href="assets/css/styles.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="js/script.js" defer)
  body.page
    header.header
      img(src="images/logo.svg" alt="")
      include includes/nav/nav.pug
    main
      include includes/main/main.pug
