.main {
  &__brands {
    display: flex;
    justify-content: center;
    gap: clamp(1.25rem, -0.5rem + 8vw, 2.5rem);
    margin: {
      top: clamp(1.875rem, 1rem + 4vw, 2.5rem);
      bottom: clamp(4.0625rem, 0.125rem + 18vw, 6.875rem);
    }
  }
}
