.nav {
  &__link {
    text-decoration: none;
    color: $navMenuColor;
    padding: 10px 20px;
    display: block;
    background: inherit;
    font-size: 1rem;
    cursor: pointer;
    text-align: left;
    width: 100%;
    border: none;
    background: inherit;
  }
}
