.main {
  &__text {
    font: {
      size: 0.9375rem;
      size: clamp(0.9375rem, 0.5874999999999999rem + 1.6vw, 1.1875rem);
    }
    line-height: clamp(1.375rem, 0.6749999999999999rem + 3.2vw, 1.875rem);
  }
}
